@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #222601;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* main */
main {
  padding: 50px 0;
}

main h1 {
  padding-bottom: 50px;
}

main div.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* section (Board & History) */
section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Board.jsx */
#board div.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #d9a404;
}

#board div.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 55px;
  font-weight: 200;
}

/* History.jsx */
#history div.history {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#history button {
  padding: 5px;
  width: 100%;
  border: 1px solid #594302;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background-color: #594302;
  color: white;
  cursor: pointer;
}

#history button:hover {
  background-color: white;
  border: 1px solid #594302;
  color: #594302;
}

#history button.restart {
  border: 1px solid #bf7e04;
  background-color: #bf7e04;
}

#history button.restart:hover {
  background-color: white;
  border: 1px solid #bf7e04;
  color: #bf7e04;
}

#history ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

#history p {
  padding: 5px 10px;
}
