@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  /* --font-size: 15px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #222601;
  /* font-size: var(--font-size); */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main: h1, .div.components-container */
main {
  padding: 50px 0;
}

h1 {
  padding-bottom: 50px;
  /* font-size: calc(var(--font-size) * 2); */
  text-align: center;
}

div.components-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* section (Board.jsx & History.jsx): h2, div */
section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h2 {
  /* font-size: calc(var(--font-size) * 1.5); */
  text-align: center;
}

/* Board.jsx */
div.board-main {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #d9a404;
}

div.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 55px;
  font-weight: 200;
}

/* History.jsx */
div.history-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button {
  padding: 5px;
  width: 100%;
  border: 1px solid #594302;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background-color: #594302;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 1px solid #594302;
  color: #594302;
}

button.restart {
  border: 1px solid #bf7e04;
  background-color: #bf7e04;
}

button.restart:hover {
  background-color: white;
  border: 1px solid #bf7e04;
  color: #bf7e04;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

p {
  padding: 5px 10px;
}
